<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".SDAApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTeamDailyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="31"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".view.AddEditTaskActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SmartTeamDailyApplication.NoActionBar"/>
<!--        <activity-->
<!--            android:name=".SettingsActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_settings"-->
<!--            android:parentActivityName=".view.MainActivity" />-->
<!--        <activity-->
<!--            android:name=".ProgressChartActivity"-->
<!--            android:exported="false"-->
<!--            android:parentActivityName=".view.MainActivity"-->
<!--            android:theme="@style/Theme.PlanerApplication.NoActionBar" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartTeamDailyApplication.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.AlarmReceiver" />
        <receiver android:name=".broadcast.DailyNotification" />
        <receiver android:name=".broadcast.CancelAlarmBroadcast" />
    </application>

</manifest>